<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.w3.org/1999/xhtml">
<head>
    <title>Courses</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <link rel="stylesheet"
          th:href="@{/css/course.css}"
          href="../../css/course.css"/>
</head>
<body>
<a th:href="@{'/courses'(id=${course.id})}">
    <button class="btn-back">Back</button><br/><br/>
</a>
<div id="container">
    <h2 th:text="${course.name}"/>

    <p th:text="${course.description}"/>

    <a th:href="@{'edit'(id=${course.id})}" sec:authorize="hasRole('ROLE_ADMIN')">
        <button class="btn">Edit</button>
    </a>
</div>
</body>
</html>