<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.w3.org/1999/xhtml">
<head>
    <title>Courses</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <link rel="stylesheet"
          th:href="@{/css/courses.css}"
          href="../../css/courses.css"/>
</head>
<body>
<h1>Courses:</h1>

<div th:id="coursescontainer">
    <div th:each="course : ${courses}" class="course">
        <a th:href="@{'course'(id=${course.id})}"><h3 th:text="${course.name}"/></a>

        <p th:text="${course.description}" id="description"/>
    </div>
    <div id="loginButton">
        <div sec:authorize="isAuthenticated()">
            <form th:action="@{/logout}" method="post">
                <input type="submit" value="Sign Out" class="btn"/>
            </form>
        </div>
        <div sec:authorize="isAnonymous()">
            <form th:action="@{/login}" method="post">
                <input type="submit" value="Log In" class="btn"/>
            </form>
        </div>
    </div>
    <a th:href="@{'add'}">
        <button class="btn">Add course</button>
    </a>
</div>
</body>
</html>
