<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Courses</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <link rel="stylesheet"
          th:href="@{/css/edit.css}"
          href="../../css/edit.css"/>
</head>
<body>

<div class="container">
    <h1>Edit</h1>

    <form action="#" th:action="@{/edit}" th:object="${course}" method="post">

        <p><input type="hidden" th:field="*{id}" readonly="readonly"/>
            Name: <input type="text" th:field="*{name}"/></p>
        <textarea rows="4" cols="50" th:field="*{description}"></textarea>

        <p><input type="submit" value="Submit" class="btn"/> <input type="reset" value="Reset" class="btn"/></p>
    </form>
    <a th:href="@{'/course'(id=${course.id})}">
        <button class="btn-back">back</button>
    </a>
    <p th:text="${courseHasBeenSavedInfo}"/>
</div>
</body>
</html>